---
layout: three-column
title: Pricing
permalink: /pricing/
subtitle: Pricing to fit any sized project.
---

{% assign page.title = "/pricing/" | split:"/" %}
<div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
  <p class="lead">
    A quick, low-stakes horticultural microconsults with an escalating price
    structure.
  </p>
</div>
<div class="card-deck mb-3 text-center pricing-cards row">
  <div class="col-lg-4 col-md-12">
    <div class="card mb-4 box-shadow">
      <div class="card-header" style="background: #fff">
        <h4 class="my-0 font-weight-normal">{{site.pricing-1.name}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">${{site.pricing-1.cost}}</h1>
        <ul class="list-unstyled mt-3 mb-4">
          {% for item in site.pricing-1.includes %}
            <li>{{item}}</li>
          {% endfor %}
        </ul>
        <a
          href="/contact"
          type="button"
          class="btn btn-lg btn-block btn-primary"
          >Contact us</a
        >
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="card mb-4 box-shadow">
      <div class="card-header" style="background: #fff">
        <h4 class="my-0 font-weight-normal">{{site.pricing-2.name}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">${{site.pricing-2.cost}}</h1>
        <ul class="list-unstyled mt-3 mb-4">
          {% for item in site.pricing-2.includes %}
            <li>{{item}}</li>
          {% endfor %}
        </ul>
        <a
          href="/contact"
          type="button"
          class="btn btn-lg btn-block btn-primary"
          >Contact us</a
        >
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="card mb-4 box-shadow">
      <div class="card-header" style="background: #fff">
        <h4 class="my-0 font-weight-normal">{{site.pricing-3.name}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">${{site.pricing-3.cost}}</h1>
        <ul class="list-unstyled mt-3 mb-4">
          {% for item in site.pricing-3.includes %}
            <li>{{item}}</li>
          {% endfor %}
        </ul>
        <a
          href="/contact"
          type="button"
          class="btn btn-lg btn-block btn-primary"
          >Contact us</a
        >
      </div>
    </div>
  </div>
</div>
