<section class="section">
    <div class="row text-center">
        <div class="col-md-6 col-sml-12">
            <h3>Consults</h3>
            <p>Some text explaining why the customer should have consultation done.</p>
            <a
            href="/consults"
            type="button"
            class="btn btn-lg btn-block btn-primary"
            >Learn More</a
            >
        </div>
        <div class="col-md-6 col-sml-12">
            <h3>Tree TSAR</h3>
            <p>Some text explaining why the customer should use the Tree TSAR.</p>
            <a
            href="/trees"
            type="button"
            class="btn btn-lg btn-block btn-primary"
            >Search Trees</a
            >
        </div>
    </div>
</section>