<section class="section">
    <div class="row text-center">
        <div class="col-md-6 col-sml-12">
            <div>
                <img alt="logo image for the consult portion of the website" style="display: block; margin: 0 auto; margin-bottom: 20px; max-width:80%;" src="../assets/images/consults-logo.png" />
            </div>
            <a
            href="/consults"
            type="button"
            class="btn btn-lg btn-block btn-primary"
            >Learn More</a
            >
        </div>
        <div class="col-md-6 col-sml-12">
            <div>
                <img alt="logo image for the Tree TSAR" style="display: block; margin: 0 auto; margin-bottom: 20px; max-width:80%;" src="../assets/images/tsar-logo.png" />
            </div>
            <a
            href="/trees"
            type="button"
            class="btn btn-lg btn-block btn-primary"
            >Search Trees</a
            >
        </div>
    </div>
</section>