<section class="section">
  <div class="container">
    <h3 class="text-primary" style="font-weight: 700; font-size: 16px">
      Find by Family
    </h3>
    <div class="row">
      <div class="col-md-4">
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <a href="trees/pinaceae">Pinaceae </a>
            <span class="badge bg-primary rounded-pill"
              >{{ site.abies | size }}</span
            >
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            Araucariaceae
            <span class="badge bg-primary rounded-pill">0</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            Podocarpaceae
            <span class="badge bg-primary rounded-pill">0</span>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            Sciadopityaceae
            <span class="badge bg-primary rounded-pill">0</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            Cupressaceae
            <span class="badge bg-primary rounded-pill">0</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            Taxaceae
            <span class="badge bg-primary rounded-pill">0</span>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            Gnetales
            <span class="badge bg-primary rounded-pill">0</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            Cheirolepidiaceae
            <span class="badge bg-primary rounded-pill">0</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            Palissyales
            <span class="badge bg-primary rounded-pill">0</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
