<section class="section">
  <div class="container">
    <h3 class="text-primary" style="font-weight: 700; font-size: 16px">
      Find by Family
    </h3>
    <div class="row">
      <div class="col-md-4">
        <ul class="list-group">
          <!--loop through family list in the data folder -->
          {% for family in site.data.family-list %}
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <a href="/trees/{{ family.name }}.html">{{ family.name }}</a>
            <!--Find the size or number of documents for this collection where family-list is genus-list-->
            {% assign family_size = site.data.genus-list | where: "family",
            family-name | size %}
            <span class="badge bg-primary rounded-pill">{{ family_size }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
