<section class="">
  <!-- Footer -->
  <footer class="bg-secondary text-white text-center text-md-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">{{ site.title }}</h5>

          <p>{{ site.description }}</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/" class="text-white">Home</a>
            </li>
            <li>
              <a href="/consults" class="text-white">Consults</a>
            </li>
            <li>
              <a href="/trees" class="text-white">Tree Index</a>
            </li>
           
            <li>
              <a href="/contact" class="text-white">Contact</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Featured</h5>

          <ul class="list-unstyled">
            {% for trees in site.abies limit: 4 %} {% if trees.featured == true
            %}
            <li>
              <a href="{{trees.url}}" class="text-white">{{trees.title}}</a>
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      Copyright © {{ site.title }} LLC {{ 'now' | date: "%Y" }}
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
