<!--Capture page title to use for collection filter on for loop, collection must be listed in the _config.yml (key pair)-->
{% assign thisGenus = page.title | downcase %}

<!--determine the sorted sections to iterate over using front matter-->
{% assign items_grouped = site.[thisGenus] | group_by: 'infrageneric-level-I' %}

<table class="table table-sm table-responsive">
  <thead>
    <tr>
      <th style="width: 50%; text-align: left;">Species</th>
      <th style="width: 50%; text-align: left;">Common Name</th>
    </tr>
  </thead>
  <tbody>
    {% for group in items_grouped %}
    <tr>
      <td style="text-align: center; font-weight: 700">{{group.name}}</td>
      <td style="text-align: center; font-weight: 700"></td>
    </tr>
    {% for item in group.items %}
    <tr>
      <td>
        <a href="{{item.url}}.html" class="font-italic"
          >{{item.species-name | replace: "&", "."}}</a
        >
      </td>
      <td>{{item.common-name }}</td>
    </tr>
    {% endfor %} {% endfor %}
  </tbody>
</table>
