<div class="row my-3">
    <div class="col-lg-5" style="word-break: break-all;">
        <h1 style="display:inline-block; font-size:1.75rem; margin-right:12px; text-transform: lowercase;">{{ page.title | downcase | replace: "_", " " | replace: "ssp ", "ssp. " | replace: "var ", "var. " }}</h1>
        <p style="display:inline-block;">[Author: {{page.author }}]</p>
    </div>
    <div class="col-lg-3">
        <p style="font-size:1.5rem;">{{ page.common-name}}</p>
    </div>
    <div class="col-lg-4">
        {% include order-breakdown.html %}
    </div>
</div>