<nav class="py-2 border-bottom navbar-dark">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item">
        <a href="/" class="nav-link link-dark px-2 active" aria-current="page"><strong>Home</strong></a>
      </li>
      <li class="nav-item">
        <a href="/pricing" class="nav-link link-dark px-2">Consults</a>
      </li>
      <li class="nav-item">
        <a href="/trees" class="nav-link link-dark px-2">Tree TSAR</a>
      </li>
      <li class="nav-item">
        <a href="/about" class="nav-link link-dark px-2">About Us</a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2">Resources</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2">LBGA</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2">Artist's Nookt</a>
      </li>
      
      <li class="nav-item">
        <a
          href="/pricing"
          class="nav-link link-dark {% if page.url contains '/pricing' %} active{% endif %}"
          >Pricing</a
        >
      </li>
      <li class="nav-item">
        <a
          href="/contact"
          class="nav-link link-dark px-2 {% if page.url contains '/contact' %}active{% endif %}"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</nav>
