<div class="d-flex flex-column flex-shrink-0" style="width: 100%">
  <div class="row">
    <div class="col">
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
      >
        <img
          alt="logo image for Simmons tree farm"
          width="160"
          src="../assets/images/logo.jpg"
        />
      </a>
    </div>
    <div class="d-sm-block d-md-none text-right col">
      <button
        class="mt-3 openbtn d-sm-block d-md-none"
        style="float: right"
        onclick="toggleDiv()"
      >
        ☰
      </button>
    </div>
  </div>

  <hr class="d-none d-md-block" />
  <ul class="nav nav-pills flex-column mb-auto" id="mySidebar">
    <li class="nav-item">
      <a
        href="/"
        class="nav-link link-dark px-2 {% if page.id == 'index' %} active{% endif %}"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        href="/consults"
        class="nav-link link-dark px-2 {% if page.url contains '/consults' %} active{% endif %}"
        >Consults</a
      >
    </li>
    <li class="nav-item">
      <a
        href="/trees"
        class="nav-link link-dark px-2 {% if page.url contains '/trees' %} active{% endif %}"
        >Tree TSAR</a
      >
    </li>
    <!-- <li class="nav-item">
      <a
        href="/about"
        class="nav-link link-dark px-2 {% if page.url contains '/about' %} active{% endif %}"
        >About Us</a
      >
    </li>

    <li class="nav-item">
      <a
        href="/resources"
        class="nav-link link-dark px-2 {% if page.url contains '/resources' %} active{% endif %}"
        >Resources</a
      >
    </li>
    <li class="nav-item">
      <a
        href="/lbga"
        class="nav-link link-dark px-2 {% if page.url contains '/lbga' %} active{% endif %}"
        >LBGA</a
      >
    </li>
    <li class="nav-item">
      <a
        href="/artists-nook"
        class="nav-link link-dark px-2 {% if page.url contains '/artists-nook' %} active{% endif %}"
        >Artist's Nook</a
      >
    </li> -->

    <li class="nav-item">
      <a
        href="/contact"
        class="nav-link link-dark px-2 {% if page.url contains '/contact' %}active{% endif %}"
        >Contact</a
      >
    </li>
  </ul>
</div>
