---
layout: three-column
---

<section class="section">
  {% include search.html %}
  <div class="container">
    <br />
    {% include breadcrumbs-family.html %}

    <br />
    <h3 class="text-primary" style="font-weight: 700; font-size: 16px">
      Find by Genus
    </h3>
    
        <table  class="table table-sm table-striped table-responsive">
          <thead>
            <tr>
              <th style="width: 50%">Genus</th>
              <th style="width: 50%">Common Name</th>
            </tr>
          </thead>
          <tbody>
          <!--loop through genus list in the data folder -->
          {% for genus in site.data.genus-list.family-name.Pinaceae %}
          <tr>
          <td
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <a href="/trees/pinaceae/{{ genus.name | downcase }}.html" class="font-italic"
              >{{ genus.name }}</a
            >
            </td>
            <td>
            {{ genus.common-name }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
            </table>
            <!--Find the size or number of documents for this collection where family-list is genus-list-->
         


    <div id="notes"></div>
    <main>{{ content }}</main>
  </div>
</section>
