---
layout: three-column
---

{% include search.html %} {% include breadcrumbs-species.html %}
<div class="row">
  <div class="col-md-8">
    <ul class="list-inline">
      <li class="list-inline-item" style="margin-right: 12px; font-weight: 700">
        <h1>
          {{ page.title | replace: "&", "."| downcase }}<span
            style="margin: 6px"
          ></span>
          {{ page.common-name }}
        </h1>
      </li>
    </ul>

    <p>Author: {{ page.author }}</p>
  </div>
  <div class="col-md-4">{% include order-breakdown.html %}</div>
</div>
<br />
<div>
  <p class="species-info" style="font-weight: 700; text-decoration: underline">
    Notes on this species
  </p>
  {{ content }}
</div>
